<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/morphext.css' />
    <style>
    .center-card {
    	position: absolute;
    	text-align: center;
    	top: 50%;
    	left: 50%;
    	font-size: 30px;
    	font-family: 'Helvetica Neue';
    	font-weight: 200;
    }
    </style>
  </head>
  <body> 
    <div class="centered center-card">
    	<p id="wordCard">Ready to Begin</p>
    </div>
    <div class="controls">
    	<button id="startBtn" class="btn" onclick="javascript:startPressed();">START</button>
    	<button id="stopBtn" class="btn" onclick="javascript:stopPressed();">STOP</button>
    </div>
  </body>
  <script type='text/javascript' src='/javascripts/jquery3.2.js'>
  </script>
  <script type='text/javascript' src='/javascripts/morphext.js'>
  </script>
  <script type='text/javascript' src='/javascripts/n2-vocab.js'>
  </script>
  <script type='text/javascript' src='/javascripts/scripts.js'></script>
  <script>

  	var isStopPressed = false;

  	
  	// Randomize entries.
  	shuffle(N2_VOCAB);

  	var wordCardNode = document.getElementById('wordCard');
  	
  	function process() {
  		if (isStopPressed) {
  			return;
  		}
		var currentVocab = N2_VOCAB.shift();
		currentVocab.shift(); // strip off useless number.
		var kanjiWithKana = currentVocab[1];
		var definition = currentVocab[2];
		var yomikata = currentVocab[0];
		var count = 0;

		var newElem = document.createElement('span');
		newElem.textContent = [
			kanjiWithKana, 
			yomikata,
			definition, 
		].join(', ');	
		if (wordCardNode.firstChild) {
			wordCardNode.removeChild(wordCardNode.firstChild);	
		}
		wordCardNode.appendChild(newElem);
		$(wordCardNode).addClass('animated bounceInRight');
		
		var msg = new SpeechSynthesisUtterance();
		msg.rate = 0.8;  //レート
		msg.pitch = 1; //ピッチ
		msg.text = kanjiWithKana || yomikata;
		msg.lang = 'ja-JP'; //言語
		window.speechSynthesis.speak(msg);

		var def = new SpeechSynthesisUtterance();
		def.rate = 1;  //レート
		def.pitch = 1; //ピッチ
		def.text = definition.split(';')[0];
		def.lang = 'en-US'; 
		window.speechSynthesis.speak(def);

		$(newElem).Morphext({
		    animation: "pulse",
		    separator: ",",
		    speed: 1000,
		    complete: function () {
		    	switch(count) {
				    case 0:
				        console.log(kanjiWithKana);
				        break;
				    case 1:
				        console.log(yomikata);
				        break;
				    case 2:
				        console.log(definition);
				        break;
				    default:
				        console.log('\n');
				}

		        if (count >= 3) {
		        	this.stop();
		        	$(wordCardNode).addClass('bounceInRight');
		        	$(wordCardNode).addClass('bounceOutLeft');
		        	console.log('----->');
		        	count = 0;
		        	setTimeout(() => {
		        		$(wordCardNode).removeClass('bounceOutLeft');
		        		if (!isStopPressed) {
		        			process();
		        		}
		        	}, 1000);
		        	
		        }
		        count++;
		    }
		});
  	}

  	function stopPressed() {
  		isStopPressed = true;
  		console.log('isStopPressed: ' + isStopPressed)
  	}

  	function startPressed() {
  		console.log('isStopPressed: ' + isStopPressed)
  		isStopPressed = false;
  		process();
  	}

	
  </script>
</html>
