<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%= asset('stylesheets/style.css') %>' />

    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/morphext.css' />
    <style>
    .center-card {
    	position: absolute;
    	text-align: center;
    	top: 50%;
    	left: 50%;
    	font-size: 60px;
    	font-family: 'Helvetica Neue';
    	font-weight: 200;
    }

    .main-text {
    	text-shadow: white 0 0 25px, white 0 0 2px;
    }

    .assoc-images {
    	opacity: 0.15;
    }

    .controls {
    	position: absolute;
    	top: 0;
    	left: 0;
    }
    #fbComments {
    	position: absolute;
    	bottom: 0;
    	right: -500px;
    	height: 100%;
    	transition: all 1s;
    	border: 1px solid #ccc;
    	background: white;
    	box-shadow: 0 0 20px #ddd;
    }
    #fbComments:hover {
		right: 0;
    }
    button {
    	padding: 5px;
    	border-radius: 5px;
    	opacity: 0.6;
    }
    </style>
  </head>
  <body> 
  	<div id="images" class="assoc-images"></div>
    <div class="centered center-card">
    	<p id="wordCard">Ready to Begin</p>
    </div>
    <div class="controls">
    	<button id="startBtn" class="btn" onclick="javascript:startPressed();">START　(スタート)</button>
    	<button id="stopBtn" class="btn" onclick="javascript:stopPressed();">STOP　(ストップ)</button>
    </div>
    <div id="fbComments"><div class="fb-comments" data-href="https://brainblaster.herokuapp.com/" data-numposts="10"></div></div>
  </body>
  <script type='text/javascript' src='/javascripts/jquery3.2.js'>
  </script>
  <script type='text/javascript' src='/javascripts/morphext.js'>
  </script>
  <script type='text/javascript' src='/javascripts/wanakana.js'>
  </script>
  <script type='text/javascript' src='/javascripts/n2-vocab.js'>
  </script>
  <script type='text/javascript' src='/javascripts/scripts.js'></script>
  <script>
  	var isStopPressed = false;

  	// Randomize entries.
  	shuffle(N2_VOCAB);

  	var wordCardNode = document.getElementById('wordCard');
  	var imagesNode = document.getElementById('images');
  	
  	function process() {
  		if (isStopPressed) {
  			return;
  		}
		var currentVocab = N2_VOCAB.shift();
		currentVocab.shift(); // strip off useless number.
		var kanjiWithKana = currentVocab[1];
		var definition = currentVocab[2];
		var yomikata = currentVocab[0];
		var romaji = wanakana.toRomaji(yomikata);
		var count = 0;

		$.get('/picturebank/' + [kanjiWithKana, yomikata].join(','), (data)=> {
			var images = data.results || [];
			console.log(`Images for this word: ${kanjiWithKana}`);
			console.log(images);
			if (imagesNode) {
				var fragment = document.createDocumentFragment();
				// Remove all nodes.
				while(imagesNode.firstChild) {
					imagesNode.removeChild(imagesNode.firstChild);
				}
				images.forEach((image)=>{
					var imgNode = document.createElement('img');
					imgNode.src = image.thumb_url;
					fragment.appendChild(imgNode);
				});
				imagesNode.appendChild(fragment);
			}
		});

		var newElem = document.createElement('span');
		newElem.classList.add('main-text');
		newElem.textContent = [
			kanjiWithKana, 
			yomikata,
			definition, 
			romaji,
		].join(', ');	
		if (wordCardNode.firstChild) {
			wordCardNode.removeChild(wordCardNode.firstChild);	
		}
		wordCardNode.appendChild(newElem);
		$(wordCardNode).addClass('animated bounceInRight');
		
		// Read in Japanese.
		var msg1 = new SpeechSynthesisUtterance();
		msg1.rate = 0.8;  //レート
		msg1.pitch = 1; //ピッチ
		msg1.text =  kanjiWithKana || yomikata;
		msg1.lang = 'ja-JP'; //言語
		window.speechSynthesis.speak(msg1);

		// Read in English.
		var msg2 = new SpeechSynthesisUtterance();
		msg2.rate = 1;  //レート
		msg2.pitch = 1; //ピッチ
		msg2.text = definition.split(';')[0];
		msg2.lang = 'en-US'; 
		window.speechSynthesis.speak(msg2);

		// Read in Cantonese.
		var msg3 = new SpeechSynthesisUtterance();
		msg3.rate = 1;  //レート
		msg3.pitch = 1; //ピッチ
		msg3.text =  kanjiWithKana;
		msg3.lang = 'zh-HK'; //言語
		window.speechSynthesis.speak(msg3);
		// Read in Mandarin Chinese.
		var msg4 = new SpeechSynthesisUtterance();
		msg4.rate = 1;  //レート
		msg4.pitch = 1; //ピッチ
		msg4.text =  kanjiWithKana;
		msg4.lang = 'zh-CN'; //言語
		window.speechSynthesis.speak(msg4);

		// Finish by speaking Japanese again.
		window.speechSynthesis.speak(msg1);

		$(newElem).Morphext({
		    animation: "pulse",
		    separator: ",",
		    speed: 1500,	
		    complete: function () {
		    	switch(count) {
				    case 0:
				        console.log(kanjiWithKana);
				        break;
				    case 1:
				        console.log(yomikata);
				        break;
				    case 2:
				        console.log(definition);
				        break;
				    case 3:
				        console.log(romaji);
				        break;
				    default:
				        console.log('\n');
				}

		        if (count >= 4) {
		        	this.stop();
		        	$(wordCardNode).addClass('bounceInRight');
		        	$(wordCardNode).addClass('bounceOutLeft');
		        	console.log('----->');
		        	count = 0;
		        	setTimeout(() => {
		        		$(wordCardNode).removeClass('bounceOutLeft');
		        		if (!isStopPressed) {
		        			process();
		        		}
		        	}, 1500);
		        	
		        }
		        count++;
		    }
		});
  	}

  	function stopPressed() {
  		isStopPressed = true;
  		console.log('isStopPressed: ' + isStopPressed)
  	}

  	function startPressed() {
  		console.log('isStopPressed: ' + isStopPressed)
  		isStopPressed = false;
  		process();
  	}

	
  </script>
  	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-67916116-2', 'auto');
	  ga('send', 'pageview');
	</script>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=367004936816412";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</html>
