<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%= asset('stylesheets/style.css') %>' />

    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/morphext.css' />
    <style>
    .center-card {
    	position: absolute;
    	text-align: center;
    	top: 50%;
    	left: 50%;
    	font-size: 60px;
    	font-family: 'Helvetica Neue';
    	font-weight: 200;
    }

    .main-text {
    	text-shadow: white 0 0 25px, white 0 0 2px;
    }

    .assoc-images {
    	opacity: 0.15;
    }

    .controls {
    	position: absolute;
    	top: 0;
    	left: 0;
    }

    button {
    	padding: 5px;
    	border-radius: 5px;
    	opacity: 0.6;
    }
    </style>
  </head>
  <body> 
  	<div id="images" class="assoc-images"></div>
    <div class="centered center-card">
    	<p id="wordCard">Ready to Begin</p>
    </div>
    <div class="controls">
    	<button id="startBtn" class="btn" onclick="javascript:startPressed();">START　(スタート)</button>
    	<button id="stopBtn" class="btn" onclick="javascript:stopPressed();">STOP　(ストップ)</button>
    </div>
  </body>
  <script type='text/javascript' src='/javascripts/jquery3.2.js'>
  </script>
  <script type='text/javascript' src='/javascripts/morphext.js'>
  </script>
  <script type='text/javascript' src='/javascripts/n2-vocab.js'>
  </script>
  <script type='text/javascript' src='/javascripts/scripts.js'></script>
  <script>
  	var isStopPressed = false;

  	// Randomize entries.
  	shuffle(N2_VOCAB);

  	var wordCardNode = document.getElementById('wordCard');
  	var imagesNode = document.getElementById('images');
  	
  	function process() {
  		if (isStopPressed) {
  			return;
  		}
		var currentVocab = N2_VOCAB.shift();
		currentVocab.shift(); // strip off useless number.
		var kanjiWithKana = currentVocab[1];
		var definition = currentVocab[2];
		var yomikata = currentVocab[0];
		var count = 0;

		$.get('/picturebank/' + [kanjiWithKana, yomikata].join(','), (data)=> {
			var images = data.results || [];
			console.log(`Images for this word: ${kanjiWithKana}`);
			console.log(images);
			if (imagesNode) {
				var fragment = document.createDocumentFragment();
				// Remove all nodes.
				while(imagesNode.firstChild) {
					imagesNode.removeChild(imagesNode.firstChild);
				}
				images.forEach((image)=>{
					var imgNode = document.createElement('img');
					imgNode.src = image.thumb_url;
					fragment.appendChild(imgNode);
				});
				imagesNode.appendChild(fragment);
			}
		});

		var newElem = document.createElement('span');
		newElem.classList.add('main-text');
		newElem.textContent = [
			kanjiWithKana, 
			yomikata,
			definition, 
		].join(', ');	
		if (wordCardNode.firstChild) {
			wordCardNode.removeChild(wordCardNode.firstChild);	
		}
		wordCardNode.appendChild(newElem);
		$(wordCardNode).addClass('animated bounceInRight');
		
		// Read in Japanese.
		var msg = new SpeechSynthesisUtterance();
		msg.rate = 0.8;  //レート
		msg.pitch = 1; //ピッチ
		msg.text =  kanjiWithKana || yomikata;
		msg.lang = 'ja-JP'; //言語
		window.speechSynthesis.speak(msg);

		// Read in English.
		var def = new SpeechSynthesisUtterance();
		def.rate = 1;  //レート
		def.pitch = 1; //ピッチ
		def.text = definition.split(';')[0];
		def.lang = 'en-US'; 
		window.speechSynthesis.speak(def);

		$(newElem).Morphext({
		    animation: "pulse",
		    separator: ",",
		    speed: 1000,
		    complete: function () {
		    	switch(count) {
				    case 0:
				        console.log(kanjiWithKana);
				        break;
				    case 1:
				        console.log(yomikata);
				        break;
				    case 2:
				        console.log(definition);
				        break;
				    default:
				        console.log('\n');
				}

		        if (count >= 3) {
		        	this.stop();
		        	$(wordCardNode).addClass('bounceInRight');
		        	$(wordCardNode).addClass('bounceOutLeft');
		        	console.log('----->');
		        	count = 0;
		        	setTimeout(() => {
		        		$(wordCardNode).removeClass('bounceOutLeft');
		        		if (!isStopPressed) {
		        			process();
		        		}
		        	}, 1000);
		        	
		        }
		        count++;
		    }
		});
  	}

  	function stopPressed() {
  		isStopPressed = true;
  		console.log('isStopPressed: ' + isStopPressed)
  	}

  	function startPressed() {
  		console.log('isStopPressed: ' + isStopPressed)
  		isStopPressed = false;
  		process();
  	}

	
  </script>
</html>
